.header {
  height: 300px;
  background-color: #EE4C7C;
}

.triangle-down {
  width: auto;
  border-left: 675px solid transparent;
  border-right: 675px solid transparent;
  border-top: 300px solid #941750;
}
body{
  background-color: #E3E2DF;
}

#textheader{
  text-decoration: none;
  text-align: center;

}
.column1{
  width: 500px;
  height: 300px;
  
  border-right: 5px solid #941750;


  border-bottom: 5px solid #941750;
}

.column2{
  width: 500px;
  height: 300px;

  border-right: 5px solid #941750;


  border-bottom: 5px solid #941750;
}
