.header{
  height: 40%;
}
body{
  background-color: #E0FFFF;

}
.triangle-down{
  width: 0;
	height: 40%;
	border-left: 50% solid transparent;
	border-right: 50% solid transparent;
	border-top: 100%;
  background-color: #00FFFF;
}
