.header {
  height: 300px;
  background-color: #EE4C7C;
}

.triangle-down {
  width: auto;
  height: 300px;
  border-left: 675px solid transparent;
  border-right: 675px solid transparent;
  border-top: 300px solid #941750;
}
body{
  background-color: #E3E2DF;
}
